version: "3.8"

services:
  client-dev:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: DEV_golet-loker
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    env_file:
      - .env
  client-prod:
    build:
      context: .
      dockerfile: Dockerfile.prod
    container_name: PROD_golet-loker
    ports:
      - "4000:4000"
    volumes:
      - .:/app
      - /app/node_modules
    env_file:
      - .env
